<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="signup" method="POST">
        {% csrf_token %}
        Email ID <input type="text" name="email"> <br>
        First Name <input type="text" name="fname"><br>
        Last Name <input type="text" name="lname"><br>
        Password <input type="password" name="pwd1" ><br>
        Confirm Password <input type="password" name="pwd2"><br>
        <input type="submit" value="Sign Up">
    </form>
    <div>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
    </div>
</body>
</html>